* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  padding: 0.8rem ;
  font-weight: 700;
}

p{
  font-size: 1.7rem;
  padding: 0.9rem 0rem;
  margin: 0.5rem 0rem;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.themeColor{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.themeColor div{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
}

.themeColor div:nth-child(1){
  background-color: rgb(0, 139, 139);
}

.themeColor div:nth-child(2){
  background-color: rgb(4, 63, 90);
}

.themeColor div:nth-child(3){
  background-color: rgb(117, 5, 161);
}

.themeColor div:nth-child(4){
  background-color: rgb(185, 7, 31);
}

.themeColor div:nth-child(5){
  background-color: rgb(212, 141, 7);
}

.themeColor div:nth-child(6){
  background-color: rgb(109, 109, 109);
}

.themeColor div:nth-child(7){
  background-color: rgb(40, 41, 41);
}

.content{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  color: #ffffff;
}

a{
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  background: rgb(0, 102, 255);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

img{
  height: 300px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}





